body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #00feba, #5b548fa);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    text-align: center;
    color: white;
    width: 320px;
}

.search {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 200px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
}